@model IEnumerable<StickyNotes.Models.Notes>


<a href='/stickynotes/board'><button onclick='resetLocs()'>Reset</button></a>
<div id="grid1" class="grid" >
    <div id="sticky0" class="box" >idk jus seein what shows up and where it goes and if it wraps or idk is it jus gona mess up like usual or blah some more blah</div>
    <div id="sticky1" class="box" >bLH blah</div>
</div>
<tbale>
    <th>col1</th>
        <td>123</td>
    <th>col2</th>
        <td>456</td>
</tbale>


@* @foreach (var note in Notes)
{
    @note.Title
    @note.Text
} *@


<script>
    var sPositions = localStorage.positions || "{}",
    positions = JSON.parse(sPositions);
    console.log(positions)
    $.each(positions, function (id, pos) {$("#" + id).css(pos)})

    for (let y = 0; y <= 12; y++) {
        $("#sticky"+y).draggable({
        @* grid: [ 250, 250 ], *@
        containment: "#containment-wrapper",
        scroll: false,
        stop: function (event, ui) {positions[this.id] = ui.position 
        localStorage.positions = JSON.stringify(positions)}
    });
    }

    function resetLocs() {
        localStorage.positions = "";
    }
</script>
<style>
    html {
        left: 0;
    }
    .grid {
        width: 93em;
        margin-left: 33em;
        margin-top: -15em;
    }
    .box {
        position: relative;
        float: left;
        height: 14em;
        width: 14em;
        background-color: yellow;
        border: 2px solid black;
        margin:3em;
        margin-left: 5.6em;
        transform:rotate(-3deg);
    }
</style>